<h1>Welcome to the Rock, Paper, Scissor Game</h1>
<h3>Rules:</h3>
<p>Each player makes either a rock, paper or scissor action with their hand on the count of 3.
<br>Rock beats scissors.
<br>Paper beats rock.
<br>Scissors beats paper.
<br>Good luck!</p>
